html, body {
  font-size: 10px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #00aeef;
}

th, td {
  border: 1px solid #666;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

th {
  background-color: #999;
  color: #fff;
}

img,
table {
  display: block;
  page-break-before: auto;
  page-break-after: auto;
  page-break-inside: avoid;
}

.page-break {
  display: block;
  page-break-after: always;
}

h1:not(:first-child) {
  display: block;
  page-break-before: always;
}
